html {
    -webkit-appearance: none;
    -moz-appearance: none;
}

body {
    -webkit-appearance: none;
    -moz-appearance: none;
}

* {
    padding: 0;
    margin: 0;
}

input {
    border: none;
}

.searcher {
    margin: 25% auto;
}